# Django
Django==3.0.8

# Django database url
dj-database-url==0.5.0

# Django crispy forms
django-crispy-forms==1.9.2

# Django heroku
django-heroku==0.3.1

# Gunicorn
gunicorn==20.0.4

# Mysql connector
mysql-connector-python==8.0.18

# Numpy
numpy==1.19.1

# Pillow
Pillow==7.2.0
